In [1]:
from orm_sqlalchemy.index import DatabaseHandler
from utils.read_data import ReadFile

In [2]:
db = DatabaseHandler()
db.connect()

In [ ]:
query_result = db.execute_query('SELECT * FROM listining')

In [ ]:
query_result

In [3]:
read_file = ReadFile()
df = read_file.read_csv_to_dataframe(directory="data", file_name="reviews.csv.gz", compression='gzip')

In [4]:
df.rename(columns={"id": "review_id"}, inplace=True)
df.head()

,listing_id,review_id,date,reviewer_id,reviewer_name,comments
0,231497,726625,2011-11-17,1356783,Jenny,Es un apartastudio muy bien ubicado. Tiene lo ...
1,17878,64852,2010-07-15,135370,Tia,This apartment is in a perfect location -- two...
2,17878,76744,2010-08-11,10206,Mimi,we had a really great experience staying in Ma...
3,17878,91074,2010-09-06,80253,Jan,Staying in Max appartment is like living in a ...
4,17878,137528,2010-11-12,230449,Orene,In general very good and reasonable price.\r<b...

In [5]:
data = df.to_dict(orient="records")

In [12]:
db.post_reviews(data[0:5])

In [11]:
db.create_tables()